<!doctype html>

{% load static %}

<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Random Match</title>
  </head>
  <body>
    <div class="container btn-group" style="margin-top:25px;">
        <input id="select-app" class="form-control" autocomplete="off" list="datalistOptions" id="exampleDataList" placeholder="Select App" style="width:200px; margin-left:500px;">
        <datalist id="datalistOptions">
          {% for app in apps %}
            <option data-value={{ app.id }} value="{{ app.name }}">
          {% endfor %}
        </datalist>
        <button id="randomize" type="button" style="margin-left:25px;">Randomize</button>
    </div>
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div id="carousel-1" class="col-md-4 mx-auto" style="border:5px; border-style:solid; padding:0px; height:425px;">
                      <!-- Buradaki veri dinamik olarak javascriptten geliyor -->       
            </div>
            <div id="carousel-2" class="col-md-4 mx-auto" style="border:5px; border-style:solid; padding:0px;">
                      <!-- Buradaki veri dinamik olarak javascriptten geliyor -->    
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'js/random_match.js' %}"></script>
  </body>
</html>